:root {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

.header {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;

	background-color: rgb(48, 48, 0);
	color: white;

	margin: 0;
	padding: 0;
}

.clips {
	display: flex;
	flex-direction: column;
	gap: 2px;
	width: 400px;
	
	/* scroll behaviour */
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;

	background-color: rgb(48, 48, 0);
}

.clip {
	background-color: lightyellow;
	width: 100%;
	height: 100px;

	display: flex;
	flex-direction: row;
	flex-shrink: 0; 
	justify-content: space-between;
}

.clip > p {
	color: black;
	width: 100%;
	height: 100%;

	padding-left: 10px;
	margin: 0px;
}

.clip:hover {
	background-color: yellowgreen;
	counter-reset: white;
	cursor: pointer;
}

.btn-area {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30px;
}

.btn {
	cursor: pointer;
}

.add-btn {
	width: 100%;
	height: 50px;
	background-color: lightgreen;

	font-weight: bold;
	font-size: large;
}

.clip-btn {
	width: 100%;
	height: 50%;
}

.edit-btn {
	background-color: black;
	color: white;
}

.edit-save-btn {
	background-color: green;
	color: white;
}

.delete-btn {
	background-color: red;
	color: white;
}

.hidden {
	display: none;
}

#modal {
	width: 100%;
	height: 50px;
	resize: vertical;
}

#copied-msg {
	background-color: yellow;
	color: green;
}