#dialog {
	position: fixed;
	inset: 0;

	/* header width, so that notifications can be shown for any input */
	top: var(--header-height); 

	background: rgba(0,0,0,0.4);

	align-items: center;
	justify-content: center;
}

.dialog-content {
	background: white;
	padding: 10px;
	width: 80%;
	border-radius: 10px;

	margin-top: 30px;
	margin-left: 40px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.dialog-btns {
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.dialog-btn {
	border: 0px;
	border-radius: 8px;
	padding: 4px;
}

.save {
	background-color: green;
	color: white;
}

.cancel {
	background-color: red;
	color: white;
}