.custom-color-check-label {
	color: black;
	user-select: none;
}

.custom-color-picker-label {
	color: black;
	user-select: none;
}

.custom-select {
	border: 2px solid black;
	width: 200px;
	height: 25px;
}

.predefined-colors {
	display: grid;
	width: 80px;
	height: 55px;
	grid-template-columns: 1fr 1fr 1fr;
}

.color-btn {
	width: 22px;
	height: 22px;
	border: 1px solid black;

	transition: 0.01s ease;
}

.color-btn:hover {
	cursor: pointer;
	box-shadow: #cfcfcf 2px 2px;
}

.color-btn:active {
	translate: 2px 2px;
	box-shadow: none;
}

.selected-sq {
	border: 1px solid white;
	
}

.red-sq {
	background-color: red;
}

.blue-sq {
	background-color: blue;
}

.yellow-sq {
	background-color: yellow;
}

.green-sq {
	background-color: green;
}

.orange-sq {
	background-color: orange;
}

.black-sq {
	background-color: black;
}