.clip {
	height: 100px;

	display: flex;
	flex-direction: row;
	flex-shrink: 0; 
	justify-content: space-between;
}

.clip-content {
	color: black;
	width: 100%;
	height: 100%;

	padding: 10px;
	margin: 0px;
}

.clip-btn {
	width: 100%;
	height: 50%;
	border: solid 1px rgb(79, 79, 79);
	border-bottom: none;
	border-top: none;
}

.hidden {
	display: none;
}