.main-container {
	width: 400px;
}

.btn {
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
}

.add-btn {
	width: 100%;
	height: 50px;
	background-color: rgb(144, 238, 144);

	font-weight: bold;
	font-size: large; 	
}

.add-btn:hover {
	opacity: 0.8;
}