.btn {
	cursor: pointer;
}

.add-btn {
	width: 100%;
	height: 50px;
	background-color: lightgreen;

	font-weight: bold;
	font-size: large;
}

.clip-btn {
	width: 100%;
	height: 50%;
}

.edit-btn {
	background-color: black;
	color: white;
}

.edit-save-btn {
	background-color: green;
	color: white;
}

.delete-btn {
	background-color: red;
	color: white;
}