.clips {
	display: flex;
	flex-direction: column;
	gap: 2px;
	width: 400px;
	
	/* scroll behaviour */
	overflow: hidden;

	background-color: rgb(48, 48, 0);
}

.clip {
	background-color: lightyellow;
	width: 100%;
	height: 100px;

	display: flex;
	flex-direction: row;
	flex-shrink: 0; 
	justify-content: space-between;
}

.clip > p {
	color: black;
	width: 100%;
	height: 100%;

	padding-left: 10px;
	padding-top: 10px;
	margin: 0px;
}

.clip:hover {
	background-color: yellowgreen;
	color: white;
	cursor: pointer;
}