:root {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	max-height: 300px;
}

.header {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;

	background-color: rgb(48, 48, 0);
	color: white;

	margin: 0;
	padding: 0;
}

.btn-area {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30px;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
}